*,
*::before,
*::after {
  box-sizing: border-box;
}

form {
    margin: 2em;
}

input {
    border: 1px solid #ccc;
    &:focus {
        box-shadow: none;
        outline: none;
        background-color: yellow;
    }
}