*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-size: 2em;
    --column-width: 100%;
}

p {
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--font-size);
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: var(--column-width);
}

@media screen and (min-width: 1024px) {
    h1 {
        --font-size: 5em;
    }
    .column {
        --column-width: 33.33%
    }
}