*, *::before, *::after {
    box-sizing: border-box;    
}

:root {
    --bg-progress: red;
    --width-bar: 0;
}

body::before {
    content: '';
    display: block;
    height: 5px;
    width: calc(var(--width-bar) * 1vw);
    background-color: var(--bg-progress);
    position: fixed;
    top: 0;
    left: 0;
}

