.examplemultiplebackgroundsa {
  width: 500px;
  height: 250px;
  text-align: right;
  /* background-image: url(../images/decoration.png), url(../images/ribbon.png), url(../images/old_paper.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 0, right bottom, 0 0; */
  background: url(../images/decoration.png) no-repeat, url(../images/ribbon.png) no-repeat right bottom, url(../images/old_paper.jpg);
}

.flag {
  width: 250px;
  height: 150px;
  margin-bottom: 1em;
}

.colombia {
  /* background-image: linear-gradient(yellow 0,yellow 33.33%, blue 33.33%, blue 66.66%, red 66.66%, red 100%); */
  /* background-image: linear-gradient(yellow 33.33%, blue 33.33%, blue 66.66%, red 66.66%); */
  background-image: repeating-linear-gradient(yellow 0, yellow 33.33%, blue 33.33%, blue 66.66%, red 66.66%, red 100%);
  border: 1px solid #111;
}

.france {
  background-image: repeating-linear-gradient(to right, red 0, red 33.33%, white 33.33%, white 66.66%, blue 66.66%, blue 100%);
  border: 1px solid #111;
}

.japanese {
  background-image: repeating-radial-gradient(circle, red 0, red 40px, white 40px, white 100%);
  background-repeat: no-repeat;
  border: 1px solid #111;
}

